html
  head
    title= title
  body
    h1= message
    ul
        li Launch the app from iss 
          a(href=fhirIss) #{fhirIss}
        li Launch endpoint is 
          a(href=launchUrl) #{launchUrl}
        li client_id is #{clientId}
